# macOS system files
.DS_Store
.CFUserTextEncoding

# Temporary files or folders
*.pyc
__pycache__/
.Trash/

# User-specific files (ignore these if not needed in repo)
.adobe/
.android/
.cups/
.docker/
.dvdcss/
.idlerc/
.local/
.netrc
.python_history
.ssh/
.streamlit/
.viminfo
.zprofile
.zsh_history
.zsh_sessions/

# Other directories that are not part of the project
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
"Creative Cloud Files Personal Account *"
